<h1>New Game</h1>
<div id="new_game">
  <% @letters.each do |letter| %>
    <div class="new_ltr"><h1><%= letter %></h1></div>
  <% end %>
</div>

<p>What is the longest word you can find?</p>

<form action="/score" data-turbo="false" method="post">
  <div class="form">
    <input type="text" name="word" id="inputfield">
    <input type="submit" value="Play" id="button">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, value=@letters %>
  </div>
</form>
